@font-face {
    font-family:'koodak';
    src:url('../fonts/BKoodakBold.eot');
    src:url('../fonts/BKoodakBold.eot#iefix') format('eot'),url('../fonts/BKoodakBold.woff') format('woff'),url('../fonts/BKoodakBold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
body{
 	direction:rtl;
	background:#fff none repeat fixed;
    font-family: koodak, "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:17px;
	color:#2F2F2F;
	background-color:#F7F6F1 !important;
	margin:0;
	padding:0;

}
.navbar-default {
	background-color:#FACE0E;
	border:1px solid #000 !important;
	box-shadow:0px 1px 3px #960;
	min-height:50px;
	}
.btn-search {
	background-color:#2F2F2F;
	color:#FACE0E;
	border:1px solid #5A5A5A;
	}
.btn-search:hover {
	background-color:#000;
	color:#FACE0E;
	border:1px solid #5A5A5A;
	}
.navbar-default .navbar-nav > li > a {
	color:#2F2F2F;
	}
.navbar-default .navbar-nav > li > a:hover {
	color:#000;
	}
.nav-right {
	width:80px;
	background-color:#2F2F2F;
	border:1px solid #000 !important;
	right:0;
	position:fixed;
	top:0;
	height:100%;
	border-left:1px solid #5A5A5A;
	padding-top:80px;
	}
.nav-right a{
	color:#ccc;
	font-size:13px;
	}
.nav-right p{
	margin-bottom:0;
	}
.nav-ico{
	margin-bottom:25px;
	}	
.nav-right a:hover{
	color:#FACE0E;
	text-decoration:none;
	}
.navbar-brand{
	padding:2px;
	}
footer{
	margin-top:400px;
	border-top:2px solid #FACE0E;
	background-color:#1D1D1D;
	color:#FFF;
	margin-right:50px;
	height:300px;
	border-bottom:1px solid #FACE0E;
	}
footer ul li{
	list-style-type:none;
	line-height:30px;
	}
footer ul li a{
	list-style-type:none;
	color:#FFF;
	font-size:15px;
	}	
footer ul li a:hover{
	list-style-type:none;
	color:#FACE0E;
	text-decoration:none;
	}
footer hr {
	border-color:#FACE0E !important;
	}
.footer-end{
	background-color:#111111 !important;
	color:#FFF;
	height:80px;
	padding-top:10px;
	
	}
.footer-end a {
	color:#FACE0E;
	}
.footer-end a:hover {
	color:#FACE0E;
	text-decoration:none;
	}